<div class="container">
  <div class="card list-launch">
    <h5 class="card-header">Histórico Fatura Detalhado Por Categoria</h5>
    <div class="card-body">
      <table mat-table [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef style="font-size: 18px;">Categoria</th>
          <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef style="font-size: 18px;">Valor</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valor | currency: 'BRL':true }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
