<div class="container">
  <div class="card list-launch">
    <h5 class="card-header">Histórico Fatura Detalhado</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Mês</th>
            <th scope="col">Total Gasto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lancamento of lancamentos">
            <td>{{ formatMonth(lancamento.mes_lancamento) }}</td>
            <td>{{ lancamento.valor | currency: 'BRL':true }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h5 class="card-header">Histórico Fatura</h5>
    <div class="card-body">
      <table class="table" id="tb_fatura">
        <thead>
          <tr>
            <th scope="col">Origem</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor Gasto</th>
            <th scope="col">Mês</th>
          </tr>
        </thead>
        <tbody *ngFor="let lancamento of lancamentos">
          <tr>
            <td>{{ lancamento.origem }}</td>
            <td>{{ getDescriptionCategory(lancamento.categoria) }}</td>
            <td>{{ lancamento.valor | currency: 'BRL':true }}</td>
            <td>{{ formatMonth(lancamento.mes_lancamento) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="lancamentos.length <= 0">
      <h4>Não há lancamentos a serem exibidos</h4>
    </div>
  </div>
</div>
