
h1 {
  color: #fff;
  font-size: 22px;
  /* margin: 0; */
  /* width: 100%; */
  height: 68px;
  background-color: #ec7000;
  /* padding: 16px; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 100px;
}

a {
  color: #ec7000;
  text-decoration: none;
  transition: filter 0, 2s;
}

a:hover {
  filter: brightness(90%);
}

