<a [routerLink]="['/']">
  <h1> | Gastos Cartão</h1>
</a>

<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/geral']">
    Lista Geral
  </a>
  <a mat-tab-link [routerLink]="['/mes']">
    Por Mês
  </a>
  <a mat-tab-link [routerLink]="['/categoria']">
    Por Categoria
  </a>
</nav>
